body {
    background-color:rgb(190, 190, 190);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.titulo {
    text-align: center;
}

.titulo-principal {
    font-size: 3em;
    margin: 1em;
    padding: 0.5em;
}

.titulo p {
    margin: 1.5em;
    font-size: 2em;
    padding: 0 0 1em;
}

.pergunta {
    width: 940px;
    margin: auto;
    vertical-align: top;
    box-sizing: border-box;
	border: 5px solid #000000;
    border-radius: 5em;
    padding: 0 0 1em;
    background-color: rgb(28, 178, 224);
}

.pergunta-numero {
    font-size: 1.5em;
    margin: 1em 0 0 9em;
    font-style: italic;
}

.pergunta-um {
    font-size: 2em;
    margin: 1em 0 1em 7em;
    font-weight: bold;
}

.alternativa-a {
    font-size: 2em;
    margin: 0 0 1em 7em;
}

.alternativa-a:hover {
    font-size: 2.1em;
    text-decoration: underline;
    cursor: pointer;
}

.alternativa-b {
    font-size: 2em;
    margin: 0 0 1em 7em;
}

.alternativa-b:hover {
    font-size: 2.1em;
    text-decoration: underline;
    cursor: pointer;
}

.alternativa-c {
    font-size: 2em;
    margin: 0 0 1em 7em;
}

.alternativa-c:hover {
    font-size: 2.1em;
    text-decoration: underline;
    cursor: pointer;
}

.alternativa-d {
    font-size: 2em;
    margin: 0 0 1em 7em;
}

.alternativa-d:hover {
    font-size: 2.1em;
    text-decoration: underline;
    cursor: pointer;
}

.proxima-pergunta {
    display: block;
    position: relative;
    font-size: 25px;
    margin: 1em;
    text-align: right;
	font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.proxima-pergunta:hover {
    text-decoration: underline;
    color:blue;
}

.inicio {
    display: block;
    font-size: 25px;
    text-align: right;
    margin: 1em;
    text-decoration: none;
    font-weight: bold;
    color:#000000
}

.inicio:hover {
    text-decoration: underline;
    color:blue;
}

.gabarito {
    width: 940px;
    height: auto;
    margin: 1em auto;
    vertical-align: top;
    box-sizing: border-box;
	border: 5px solid #000000;
    border-radius: 5em;
    padding: 0 0 1em;
    background-color: rgb(28, 178, 224);
}

.gabarito-alternativa {
    font-size: 2em;
    margin: 1em 0 1em 7em;
}

input {
    font-size: 1em;
    padding: 5px;
}

.enviar {
    font-size: 1.1em;
    background-color: #fff;
    color:#000
}

.copyright {
    text-align: center;
    font-size: 20px;
    font-style: oblique;
    margin: 3em;
}

.acerto {
    color: yellow;
}
